{% extends "layout.html" %}
{% block body %}

	<main>
		<p style="font-size: 28px;"> Success! </p>		

		<p style="font-size: smaller;"> <strong>{{username}}</strong>, 
		your API access key is: <strong>{{apiAccessKey}}</strong> </p>

		<p style="font-size: smaller;"> You can now access the holdings of each ETF with these respective URLS: </p>
		<p style="font-size: smaller; ">

			<strong>All holdings</strong>: <a target="_blank" href="https://arkapi2.herokuapp.com/All/{{apiAccessKey}}"> https://arkapi2.herokuapp.com/all/{{apiAccessKey}} </a> <br>


			<strong>ARKK</strong>: <a target="_blank" href="https://arkapi2.herokuapp.com/ARKK/{{apiAccessKey}}"> https://arkapi2.herokuapp.com/ARKK/{{apiAccessKey}} </a><br>
			<strong>ARKQ</strong>: <a target="_blank" href="https://arkapi2.herokuapp.com/ARKQ/{{apiAccessKey}}"> https://arkapi2.herokuapp.com/ARKQ/{{apiAccessKey}} </a> <br>
			<strong>ARKW</strong>:<a target="_blank" href="https://arkapi2.herokuapp.com/ARKW/{{apiAccessKey}} "> https://arkapi2.herokuapp.com/ARKW/{{apiAccessKey}} </a><br>
			<strong>ARKG</strong>:<a target="_blank" href="https://arkapi2.herokuapp.com/ARKG/{{apiAccessKey}} ">  https://arkapi2.herokuapp.com/ARKG/{{apiAccessKey}} </a><br>
			<strong>ARKF</strong>:<a target="_blank" href="https://arkapi2.herokuapp.com/ARKF/{{apiAccessKey}}">  https://arkapi2.herokuapp.com/ARKF/{{apiAccessKey}}</a> <br>
			<strong>PRINT</strong>: <a target="_blank" href="https://arkapi2.herokuapp.com/PRINT/{{apiAccessKey}}"> https://arkapi2.herokuapp.com/PRINT/{{apiAccessKey}}</a> <br>
			<strong>IZRL</strong>:<a target="_blank" href="https://arkapi2.herokuapp.com/IZRL/{{apiAccessKey}}"> https://arkapi2.herokuapp.com/IZRL/{{apiAccessKey}}</a> <br>

		</p>
		<p style="font-size: smaller; margin: 10px;"> Your rate limit is set to no more than 6 requests per minute. Click one of the ETF links above to see their example JSON responses! </p>

	</main>
	
{% endblock %}