{% extends "layout.html" %}
{% block body %}

	<main>
		<p style="font-size: 28px;"> Success! </p>		

		<p style="font-size: smaller;"> <strong>{{username}}</strong>, 
		your API access key is: <strong>{{apiAccessKey}}</strong> </p>

		<p style="font-size: smaller;"> You can now access the holdings of each ETF with these respective URLS: </p>
		<p style="font-size: smaller; ">


			<strong>ARKK</strong>: https://arkapi2.herokuapp.com/ARKK/{{apiAccessKey}} <br>
			<strong>ARKQ</strong>: https://arkapi2.herokuapp.com/ARKQ/{{apiAccessKey}} <br>
			<strong>ARKW</strong>: https://arkapi2.herokuapp.com/ARKW/{{apiAccessKey}} <br>
			<strong>ARKG</strong>: https://arkapi2.herokuapp.com/ARKG/{{apiAccessKey}} <br>
			<strong>ARKF</strong>: https://arkapi2.herokuapp.com/ARKF/{{apiAccessKey}} <br>
			<strong>PRINT</strong>: https://arkapi2.herokuapp.com/PRINT/{{apiAccessKey}} <br>
			<strong>IZRL</strong>: https://arkapi2.herokuapp.com/IZRL/{{apiAccessKey}} <br>

		</p>
		<p style="font-size: smaller; margin: 10px;"> Your rate limit is set to no more than 6 requests per minute. Click one of the ETF links above to see their example JSON responses! </p>

	</main>
	
{% endblock %}